opencv-contrib-python==4.7.0.72
scikit-image>=0.19
ffmpeg-python==0.1.7
tensorflow==2.8.0
tensorboard==2.8.0
--extra-index-url https://download.pytorch.org/whl/cu117
torch==1.13.1+cu117
torchvision==0.14.1
tb_nightly==2.12.0a20230126
transformers==4.27.0
diffusers==0.14.0
einops==0.6.0
omegaconf==2.3.0
accelerate==0.17.1
open-clip-torch==2.16.0
transformers==4.27.0
safetensors==0.3.0
pytorch_lightning==2.0.0
aiohttp==3.8.4
xformers==0.0.16
scipy==1.9.1
torchdiffeq==0.2.3
torchsde==0.2.5
tqdm==4.65.0
tabulate==0.9.0
numpy==1.24.2
scipy==1.9.1
matplotlib==3.7.1
fvcore==0.1.5
rich==13.3.2
basicsr==1.3.4.9
pandas==1.5.3
