transformers
diffusers
einops
omegaconf
accelerate
open-clip-torch
transformers
safetensors
pytorch_lightning
aiohttp
accelerate
--extra-index-url https://download.pytorch.org/whl/cu117
torch==1.13.1+cu117
torchvision
xformers
scipy
torchdiffeq
torchsde
opencv-contrib-python

# Semseg Requirements:
tqdm
tabulate
numpy
scipy
matplotlib
tensorboard
fvcore
einops
rich

basicsr

openai-whisper
sounddevice
soundfile
pydub
ffmpeg-python
wavio
pyqtgraph